<h1 class="animated fast fadeIn">About Commic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum possimus tempora magni ducimus. Neque et quas ut! Rerum ullam expedita sequi ab accusantium? Saepe ratione fugiat nam soluta nulla voluptatem! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Ducimus repellendus debitis sequi molestias, voluptatibus eveniet consequuntur! Consequatur debitis expedita ipsa fugiat possimus vel, minima autem asperiores placeat veritatis, earum quae. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ullam porro placeat iste? Aspernatur quod ab voluptate nostrum possimus asperiores architecto atque iusto, consequatur voluptates quam animi exercitationem eaque deleniti molestiae.
</p>